<h2>All Specials</h2>
<hr>
<div class="container">
  <h3>Click Headline to edit Special</h3>
  <ul class="nav nav-pills nav-stacked">
    <% @specials.each do |special| %>
      <li>
        <a class="btn-success" href="/specials/<%= special.id %>"><%= special.headline %> </a>
        <p>Expires: <%= special.expires.strftime("%m/%d/%y") %></p>
      </li>
    <% end %>
  </ul>
  <hr>
  <h2>Add Specials</h2>
  <hr>
  
  <form method="post" action="/specials/new">
    <label for="headline">Headline:</label><br>
    <input type="text" name="headline"><br>
    <label for="offer">Offer:</label><br>
    <textarea rows="3" cols="50" name="offer"></textarea><br>
    <label for="expires">Expires:</label><br>
    <input class="date" type="date" name="expires">
    <button type ="submit">Add Special</button>
  </form>
</div>
<a href="/jenna">Back to Dashboard</a>
