<h2>All Specials</h2>
<a class="btn btn-primary" href="/jenna">Back to Dashboard</a>
<hr>
<div class="container">
  <h3>Click Headline to edit Special</h3>
  <ul class="nav nav-pills nav-stacked">
    <% @specials.each do |special| %>
      <li>
        <a class="btn-success" href="/specials/<%= special.id %>"><%= special.headline %> </a>
        <p>Expires: <%= special.expires.strftime("%m/%d/%y") %></p>
      </li>
    <% end %>
  </ul>
  <hr>
  <h2>Add Specials</h2>
  <hr>
  <p>
    Although the site will not delete any special you create unless you do so 
    yourself, it will automatically hide any specials that have expired so you
    don't have to remember to remove them when they expire and so you can re-
    use specials by changing the expiration date.
  </p>
  <form method="post" action="/specials/new">
    <label for="headline">Headline:</label><br>
    <input type="text" name="headline"><br>
    <label for="offer">Offer:</label><br>
    <textarea rows="3" cols="50" name="offer"></textarea><br>
    <label for="expires">Expires:</label><br>
    <input class="date" type="date" name="expires">
    <button type ="submit">Add Special</button>
  </form>
</div>

