<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="assets/app.css">
</head>
<body>

<h2>All Specials</h2>
<hr>
<ul>
  <% @specials.each do |special| %>
    <li>
      <a href="/specials/<%= special.id %>"><%= special.headline %></a><br>
      <p>Expires: <%= special.expires %></p>
    </li>
  <% end %>
</ul>
<hr>
<h2>Add Specials</h2>
<hr>

<div class="row">
  <form class="col-xs-10" method="post" action="/specials/new">
    <label for="headline">Headline:</label>
    <input class="form-control" type="text" name="headline">
    <label for="offer">Offer:</label>
    <textarea class="form-control" rows="3" cols="50" name="offer"></textarea>
    <label for="expires">Expires:</label>
    <input class="form-control" type="date" name="expires">
    <button type ="submit">Add Special</button>
  </form>
</div>


<script src="assets/app.js"></script>
</body>
</html>
