<nav class="navbar navbar-fixed-top navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand" src="media/WWlogo.png">
      <p class="navbar-brand">Widdle
        <br>Waskles
        <br>Grooming</p>
    </div>
    <div id="myNavbar" class="collapse navbar-collapse pull-right">
      <ul class="nav nav-tabs pull-right">
        <li class="active"><a data-toggle="tab" href="#about" role="button">About</a>
          <li><a data-toggle="tab" href="#services" role="button">Services</a></li>
          <li><a data-toggle="tab" href="#pictures" role="button">Pictures</a></li>
          <li><a data-toggle="tab" href="#contact" role="button">Contact</a></li>
          <li><a data-toggle="tab" href="#specials" role="button">Specials!</a></li>
          <li><a data-toggle="tab" href="#locationTab" role="button">Location</a></li>
      </ul>
    </div>
  </nav>