<div class="jumbotron">
  <h1 class="hidden">Widdle Waskles Grooming</h1>
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <div id="widdle" class="logo">Widdle</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center">
      <div class="logo">Waskles</div>
    </div>
    <div class="col-sm-4">
      <img id="logopic" class="center-block img-responsive" src="images/WWlogo.png">
    </div>
    <div class="col-sm-4 text-center">
      <div class="logo">Grooming</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="subtitle">Not your average spit and shine. Pets groomed to perfection every time!</div>
    </div>
  </div>
  </div>
</div>