<div class="row">
  <div id="testimony" class="container collapse in col-xs-12">
    <button type="button" data-toggle="collapse" data-target="#testimony" class="pull-right">X</button>
    <h2 id="testimonyTitle">Happy Pet Parents</h2>
    <div id="testimonyCont">
      <p id="review"></p>
      <h3 id="name" class="pull-right"></h3>
    </div>
  </div>
</div>