<div class="row">
  <div id="testimony" class="container collapse in col-xs-10 col-offset-xs-1 col-sm-8 col-offset-sm-2">
    <button type="button" data-toggle="collapse" data-target="#testimony" class="pull-right">X</button>
    <h2 id="testimonyTitle">Happy Pet Parents</h2>
    <p id="review"><%= @testimonial.story %></p>
    <h3 id="name" class="pull-right"><%= @testimonial.name %></h3>
  </div>
</div>