<h2>All Testimonials</h2>
<a class="btn btn-primary" href="/jenna">Back to Dashboard</a>
<hr>
<div class="container">
  <h3>Click Name to edit Customer Review</h3>
  <ul class="nav nav-pills nav-stacked">
    <% @testimonials.each do |testimonial| %>
      <li>
        <a class="btn-success" href="/testimonials/<%= testimonial.id %>"><%= testimonial.name %></a>
      </li>
    <% end %>
  </ul>
  <hr>
  <h2>Add Testimonials</h2>
  <hr>
  <p>
    The site will display a random Review from this database in the splash that
    appears when you first load the site.
  </p>
  <form method="post" action="/testimonials/new">
    <label for="story">Testimonial:</label>
    <input type="text" name="story">
    <label for="Name">Name: </label>
    <input type="text" name="name">
    <input type ="submit" value="Add Testimonial">
  </form>
</div>

