<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="assets/app.css">
</head>
<body>

<h2>All Testimonials</h2>
<hr>
<ul>
  <% @testimonials.each do |testimonial| %>
    <li>
      <a href="/testimonials/<%= testimonial.id %>"><%= testimonial.name %></a>
    </li>
  <% end %>
</ul>
<hr>
<h2>Add Testimonials</h2>
<hr>
<form method="post" action="/testimonials/new">
  <label for="story">Testimonial:</label>
  <input type="text" name="story">
  <label for="Name">Name: </label>
  <input type="text" name="name">
  <input type ="submit" value="Add Testimonial">
</form>

<script src="assets/app.js"></script>
</body>
</html>