<h2>All Photos</h2>
<a class="btn btn-primary" href="/jenna">Back to Dashboard</a>
<hr>
<div class="container">
  <h3>Click Caption to edit Before and After Photo</h3>
  <ul class="nav nav-pills nav-stacked">
    <% @photos.each do |photo| %>
      <li>
        <a class="btn-success" href="/photos/<%= photo.id %>"><%= photo.caption %></a>
      </li>
    <% end %>
  </ul>
  <hr>
  <h2>Add Photos</h2>
  <hr>
  <p>
    Although the site won't prevent you from not doing so if you want, it will 
    look much better if you make sure each set of before and after photos you 
    upload are the same size before uploading.
  </p>
  <form method="post" action="/photos/new" enctype="multipart/form-data">
    <label for="before_filename">Before:</label><br>
    <input type="file" name="before_filename"><br>
    <label for="after_filename">After:</label><br>
    <input type="file" name="after_filename"><br>
    <label for="caption">Caption:</label><br>
    <input type="text" name="caption">
    <button type ="submit">Add Photo</button>
  </form>
</div>

