<div class="tab-pane fade in active" id="about">
  <h2>About</h2>
  <i class="fa fa-address-book" aria-hidden="true"></i>
  <img id="puppySmile" src="images/puppy_smile.jpg" class="img-responsive">
  <p>
    With over fourteen years experience, I can groom any breed to show or pet standard.
    I also work with aggressive pets to get them to like grooming again and elderly pets who may need a slower, gentler grooming proccess.
  </p>
  <br>
  <ul class="paw">
    <li>My work is guaranteed or your money back</li>
    <li>We have flexible hours</li>
    <li>Your pets never stay longer than two hours</li>
    <li>I also groom cats!</li>
  </ul>
</div>