<div class="tab-pane fade" id="contact">
  <h2>Contact</h2>
  <p>Have any questions? Want to get an estimate? Need to make an appointment? Send me an email!</p>
  <form action='/' name='contact_me' method='post'>
    <fieldset class="form-group">
      <legend>Send us an Email</legend>
      <label for="name">Name:</label>
      <input type="text" class="form-control"  name='name' id='name' placeholder='First Last' required>
      <br>
      <label for="mail">Email:</label>
      <input type="email" class="form-control" name='mail' id='mail' placeholder='someone@server.com' required>
      <br>
      <label for='subject'>Subject</label>   
      <input type="text" class='form-control' name='subject' id='subject' placeholder='What do you want to talk about?'>
      <br>
      <label for="body">Type Your Message:</label>
      <textarea rows="10" class="form-control" id="body" placeholder="I look forward to hearing from you." name="body" required></textarea>
      <br>
      <input id="submit" type="submit" class="btn btn-lg btn-primary">
    </fieldset>
  </form>
</div>
