<div class="tab-pane fade" id="contact">
  <h2>Contact</h2>
  <form action="https://formspree.io/your@email.com" method="POST">
    <fieldset class="form-group">
      <legend>Send us an Email</legend>
      <label for="fullName">Name:</label>
      <input type="text" class="form-control" id="fullName" placeholder="First Last" name="name" required>
      <br>
      <label for="sendEmail">Email:</label>
      <input type="email" class="form-control" id="sendEmail" placeholder="someone@server.com" name="_replyto" required>
      <br>
      <label for="mailBody">Type Your Message:</label>
      <textarea rows="10" class="form-control" id="mailBody" placeholder="I look forward to hearing from you." name="mail" required></textarea>
      <br>
      <input type="button" class="btn btn-primary" id="submitButton" value="Submit">
    </fieldset>
  </form>
</div>
