<div class="tab-pane fade" id="locationTab">
  <h2>Our Location</h2>
  <iframe id="mapTab" class="center-block" src="https://maps.google.com/maps?q=40.204026,-105.006339&z=15&output=embed"></iframe>
  <div class="container-fluid contactList">
    <div class="row">
      <!--<div class="col-xs-1"></div>-->
      <div class="col-xs-3 contactInfo">Address:</div>
      <div class="col-xs-7">2571 state hwy 66
        <br>Longmont, CO 80504</div>
    </div>

    <div class="row">
      <!--<div class="col-xs-1"></div>-->
      <div class="col-xs-3 contactInfo">Phone:</div>
      <div class="col-xs-7">720-309-8976</div>
    </div>
    <div class="row">
      <!--<div class="col-xs-1"></div>-->
      <div class="col-xs-3 contactInfo">Hours:</div>
      <div class="col-xs-7">24hrs by appointment</div>
    </div>
  </div>
</div>
