<div class="tab-pane fade" id="services">
    <h2>Services</h2>
    <img id="jenna" src="images/jenna.jpg" class="img-responsive pull-right">
    <p>We offer many services for both dogs and cats.</p>
</div>