<h2>All Services</h2>
<hr>
<div class="container">
  <h3>Click Offered Service to edit details</h3>
  <ul class="nav nav-pills nav-stacked">
    <% @services.each do |service| %>
      <li>
        <a class="btn-success" href="/services/<%= service.id %>">
          <%= service.task %>, for
          <%= service.species %>
          <%= ': costs $%.2f' % service.price unless service.price.blank? %>.
        </a>
      </li>
    <% end %>
  </ul>
  <hr>
  <h2>Add Service</h2>
  <hr>
  
  <form method="post" action="/services/new">
    <label for="task">Service:</label><br>
    <input type="text" name="task"><br>
    <label for="species">Species:</label><br>
    <input type="text" name="species"><br>
    <label for="price">Price:</label><br>
    <input type="number" step="0.01" name="price">
    <button type ="submit">Add Service</button>
  </form>
</div>
<a href="/jenna">Back to Dashboard</a>